*{
    padding: 0;
    margin: 0;
}

.selector-for-some-widget {
    box-sizing: content-box;
}


/* ------------------------------ Navbar -------------------------------*/
.search{
    display: flex;
    align-items: center;
    background-color: #F7F7F7;
    border-radius: 6px;
    height: 40px;
}
.search input{
    background-color: #F7F7F7;
    border: none;
    outline: none;
    border-radius: 6px;
    width: 97%;
}

input[type="search"]::placeholder,input[type="email"]::placeholder,input[type="password"]::placeholder,
input[type="text"]::placeholder,input[type="number"]::placeholder {  
    text-align: right; 
} 

.navbar-toggler{
    top: 15px;
    right: 12px;
    position: fixed;
}

.nav-list li{
    padding-left: 14px;
}

.nav-list ul{
    margin-right: 30px;
}

.cash button{
    width: 60%;
    height: 50px;
    margin-left: 20%;
    background-color: #FF834F;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-top: 5px;
}

/*-------------------------- Register ----------------------*/

.cont{
    background-color: #F7F7F7;
    padding-top: 40px;
}
.note{
    text-align: center;
    height: 80px;
    background-color: #FFCD58;
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}

.form-content{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}

.form-control{
    border-radius:1.5rem;
}

.btnSubmit{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #FFCD58;
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}